.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-image: linear-gradient(to top right, #fc63ff, #6ab7ff);
}

form {
  display: block;
  position: relative;
}

form::after{
  content: '';
  display: block;
  position: absolute;
  top: -15px;
  left:-15px;
  right: -15px;
  bottom:-15px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #ffff53, #fe4848);
}

form .form-inner{
  position: relative;
  display: block;
  background-color:#fff4fd ;
  padding: 25px;
  z-index: 2;
}

form .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label{
  display: block;
  color: rgb(255, 68, 68);
  font-size: 15px;
  margin-bottom: 5px;
  transform: 0.4s;
}